/* The sidenav */
.sidenav {
    height: 100%;
    width: 10em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightgray;
    overflow-x: hidden;
}

li {
    list-style-type: none;
    text-align: center;
    align-self: center;
    padding: .75em;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* actual information */
#main {
    margin-left: 10em;
    background-image: url("https://etc.usf.edu/presentations/backgrounds/grid/grid_04/1304m.gif")
}

.slot {
    height: auto;
    width: 100%;
}

#home {
    display: grid;
    grid-template-columns: 24em auto 24em;
    grid-template-rows: 15em auto 15em;
    height: 80vh;
    background-image: url('https://media.giphy.com/media/xT8qAX1gy0BmzOXdg4/giphy.gif');
    background-size: cover;
}

#name-title {
    color: white;
    font-size: 3em;
    text-align: center;
}

.portfolio-image {
    width: 15em;
}

.project-lang {
    width: 100%;
    height: auto;
    margin-top: .3em;
}

.skill-image {
    width: 10em;
    margin-left: .15em;
    height: 10em;
}

.card-img {
    width: auto;
    height: 10em;
}

.card {
    margin: auto;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.section-header {
    font-size: 3em;
    text-align: center;
    width: 100%;
    height: 2em;
    background-color: black;
}

.bottom-border {
    margin-bottom: 1em;
}

li:hover {
    cursor: pointer;
    color: white;
}

.eighty{
    width: 80%;
    background: white;
    text-align: center;
    margin: 1em auto;
}

.text_padding{
    padding: 1em;
}