/* The sidenav */
.sidenav {
    height: 100%;
    width: 20em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
  }
  
  /* Page content */
  #main {
    margin-left: 20em; /* Same as the width of the sidenav */
  }